<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgsj.dao.ArticleDao">

	 <resultMap type="com.cgsj.entity.BlogArticle" id="ArticleresultMap">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="articleType" property="articleType"/>
		<result column="articleStatus" property="articleStatus"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="readingVolume" property="readingVolume"/>
		<result column="stickTop" property="stickTop"/>
	</resultMap>

	<parameterMap type="com.cgsj.entity.BlogArticle" id="ArticleParameterMap">
		<parameter property="id" resultMap="ArticleresultMap"/>
		<parameter property="articleType" resultMap="ArticleresultMap"/>
	</parameterMap> 

	<select id="gainAll" resultType="com.cgsj.entity.BlogArticle">
		select * from blog_article order by id
	</select>

	<select id="gainByType" parameterType="java.lang.String"
		resultType="com.cgsj.entity.BlogArticle">
		select * from blog_article where ArticleType =
		#{articleType} and stickTop != 1
	</select>
	
	<select id="topByType" parameterType="java.lang.String"
		resultType="com.cgsj.entity.BlogArticle">
		select * from blog_article where ArticleType =
		#{articleType} and stickTop = 1
	</select>
	

	<delete id="deletebyId" parameterType="int">
		delete from blog_article
		where id = #{id}
	</delete>

	<update id="topbyId" parameterType="int">
		update blog_article set
		stickTop = '1'
		where id = #{id}
	</update>

	<update id="untopbyId" parameterType="int">
		update blog_article set
		stickTop = '0'
		where id = #{id}
	</update>
	
	<update id="classIficat" parameterMap="ArticleParameterMap">
		update blog_article set
		articleType = #{0}
		where id = #{1}
	</update>

</mapper> 