<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgsj.dao.ArticleDao">


	<select id="gainAll" resultType="com.cgsj.entity.BlogArticle">
		select * from blog_article
	</select>

	<select id="gainByType" parameterType="java.lang.String"
		resultType="com.cgsj.entity.BlogArticle">
		select * from blog_article where ArticleType =
		#{articleType}
	</select>

	<delete id="deletebyId" parameterType="int">
		delete from blog_article
		where id = #{id}
	</delete>

	<update id="topbyId" parameterType="int">
		update blog_article set
		stickTop = '1'
		where id = #{id}
	</update>

	<update id="untopbyId" parameterType="int">
		update blog_article set
		stickTop = '0'
		where id = #{id}
	</update>

</mapper> 